{% extends "base.html" %}
{% block content %}

{% if mode == "new" %}
  <h1>Neuer Bericht</h1>
{% else %}
  <h1>Bericht bearbeiten</h1>
{% endif %}

<form method="post">
  {% csrf_token %}

  {{ form.non_field_errors }}

  <div>
    {{ form.date.label_tag }}<br>
    {{ form.date }}
    {{ form.date.errors }}
  </div>
  <br>

  <div>
    {{ form.minutes.label_tag }}<br>
    {{ form.minutes }}
    {{ form.minutes.errors }}
  </div>
  <br>

  <div>
    {{ form.module.label_tag }}<br>
    {{ form.module }}
    {{ form.module.errors }}
  </div>
  <br>

  <div>
    {{ form.text.label_tag }}<br>
    {{ form.text }}
    {{ form.text.errors }}
  </div>
  <br>

  <button class="btn btn-primary" type="submit">Speichern</button>
  <a class="btn btn-link" href="{% url 'reports_list' %}">Abbrechen</a>
</form>

{% endblock %}
